CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
.build
debian/debhelper-build-stamp
debian/files
debian/xtdmake.debhelper.log
debian/xtdmake.substvars
debian/xtdmake/
obj-x86_64-linux-gnu/
